<h2>ようこそBookersへ！</h2>

<div class="top-contents">
 <p><span>Bookers</span>では、さまざまな書籍に関するあなたの意見や<br>
 <span class="between">情報を共有し保管することができます</span></p>
 <%= link_to 'start', '/books', class:"link" %>
</div>